@charset "utf-8";
/* CSS Document */

@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=180765a3-4b84-4b94-ad02-2d3d804dd4f5");
@font-face{
font-family:"Proxima Nova W01_R3";
src:url("../fonts/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix") format("eot")
}
@font-face{
font-family:"Proxima Nova W01";
src:url("../fonts/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix");
src:url("../fonts/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix") format("eot"),url("../fonts/e56ecb6d-da41-4bd9-982d-2d295bec9ab0.woff") format("woff"),url("../fonts/2aff4f81-3e97-4a83-9e6c-45e33c024796.ttf") format("truetype"),url("../fonts/ab9cd062-380f-4b53-b1a7-c0bec7402235.svg#ab9cd062-380f-4b53-b1a7-c0bec7402235") format("svg");
font-weight: 300;
font-style: Regular;
}
@font-face{
font-family:"Proxima Nova W01_B5";
src:url("../fonts/fbc6b03a-b3a1-427c-a884-053deca3a53c.eot?#iefix") format("eot")
}
@font-face{
font-family:"Proxima Nova W01";
src:url("../fonts/fbc6b03a-b3a1-427c-a884-053deca3a53c.eot?#iefix");
src:url("../fonts/fbc6b03a-b3a1-427c-a884-053deca3a53c.eot?#iefix") format("eot"),url("../fonts/d999c07b-a049-4eb5-b8a6-4f36ae25e67e.woff") format("woff"),url("../fonts/4d4a75f5-d32a-4a09-8665-133afd39cc37.ttf") format("truetype"),url("../fonts/8152bc4e-d700-4c78-b6be-326893e6f53f.svg#8152bc4e-d700-4c78-b6be-326893e6f53f") format("svg");
font-weight: 500;
font-style: Bold;
}

#container, html.embed {
	background: none;
}
body, .wufoo, .wufoo li div, .wufoo li span, .wufoo li div label, .wufoo li span label, input.btTxt {
	font-family: 'Proxima Nova W01', 'Open Sans', Arial, sans-serif;
}
input {
	height: 33px;
	padding: 2px 12px !important;
}
textarea {
	padding: 12px !important;
}
input, textarea {
	border-radius: 5px;
	border: none;	
	background: #fff !important;
}
.leftLabel li div, .rightLabel li div {
	width: 80%;
}
form li, form li.section div, .wufoo .section h3 {
	padding-left:2px;
}
form li.section {
	margin: 0 0 20px;
	padding: 50px 1% 0 0;
}
form li.section section {
	border-top: 2px solid #fff;
	padding-right:24px;
}
.wufoo .section h3, .wufoo .section h3 span {
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	border:none;
}
.wufoo .section h3 span {
	margin-right: 15px;
}
.leftLabel .desc, .rightLabel .desc {
	float: none;
	width: 71%;
}
.wufoo label.desc, .wufoo legend.desc, .wufoo .section div {
	font-size: 10px;
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;	
}
form span.req {
	color: #fff !important;
}
.wufoo select.select {
	background-color: #fff;
	height:37px;
	width: 53%;
}
.safari select.select {
	font-size: 100% !important;
}
.wufoo label.choice {
	font-weight: 300;
	color:#fff;
	font-size: 14px;
	margin-top:-18px !important;
}
.wufoo input.file {
	padding-top:12px !important;
}
input.btTxt {
	color: transparent;
	text-transform: uppercase;
	width: 450px;
	height: 70px;
	background: #333333 !important;
	cursor: pointer;
}
form li.buttons div {
	margin-top:50px !important;
}
form li.buttons:before {
	content: "Submit for fame and fortune!**";
	left: 50%;
	color: #fff;
	margin: -10px 0 0 -116px;
	font-size: 16px;
	position: absolute;
	top: 67%;
	text-transform: uppercase;
	pointer-events: none;
}
form li.buttons:after {
	content: "**Fame is limited to the Havas network";
	font-size: 10px;
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
	position: absolute;
	bottom:-10px;
	left:50%;
	margin-left:-80px;
	height: auto;
	visibility: visible;
}



/*======= Focused ==========*/
form li.focused {
	background: none !important;
}
.wufoo li.focused label.desc, 
.wufoo li.focused legend.desc, 
.wufoo li.focused div, 
.wufoo li.focused span, 
.wufoo li.focused div label, 
.wufoo li.focused span label, 
.safari .wufoo li.focused input.file {
	color: #fff;
}
input:focus {
	border-color: #66afe9;
	/*outline: 0;*/
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);	
}


/*======== Errors =========*/
form li.error {
	background: none !important;
}
.wufoo li.error .desc, form p.error, 
form li.error label {
	color: #fff !important;
}
form li.error input, form li.error select,
form li.error textarea {
	/*background: #ff9999 !important;*/
border-color: #843534;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #fff;
box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #fff;
}
#errorLi {
	border-left-color: #ff9999 !important;
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
	text-align: left;	
}

.confirm h2 {
	color: #fff;
	text-align: left;
	margin: 0;	
}
.confirm h2 a {
	color:#ccc;
}
@media (max-width: 1200px) {
	input.btTxt {
		width: 380px;
	}
}
@media (max-width: 991px) {
	input.btTxt {
		width: 330px;
	}
	.noI .leftLabel .buttons div {
		margin-left: 0;
	}
}
@media (max-width: 767px) {
	form li.leftHalf, form li.rightHalf {
		width: 100% !important;
		float: none !important;
	}
	.leftLabel .desc, .rightLabel .desc {
		width: 95%;
	}
	form li.buttons {
		padding-left: 0 !important;
	}	
	form li.buttons div {
		width: 100%;
		margin-top:0 !important;
	}
	input.btTxt {
		width: 100%;
	}
	form li.buttons:before {
		font-size: 14px;
		margin:-10px 0 0 -122px;
		top:50%;
	}
	form li.buttons:after {
		margin-left: -110px;
	}
}















